[Unit]
Description=Discord Scheduler Bot
After=network.target local-fs.target
Requires=network.target local-fs.target

[Service]
WorkingDirectory=/home/pdesjardins/code/python-discord-scheduler-bot
ExecStart=/home/pdesjardins/.local/bin/uv run /home/pdesjardins/code/python-discord-scheduler-bot/bot.py
ExecStartPre=/bin/sleep 10
Restart=on-failure
RestartSec=10
User=pdesjardins
Group=pdesjardins

# Include /etc/environment and add virtualenv + system binaries to PATH
EnvironmentFile=/etc/environment
Environment="PATH=/home/pdesjardins/.local/bin:/usr/local/bin:/usr/bin:/bin:/home/pdesjardins/code/python-discord-scheduler-bot/.venv/bin"

# Environment sync
Environment=DISPLAY=:99
Environment=PYTHONUNBUFFERED=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=ENV=prod

# Optional: Ensure the bot can't be killed by the OOM killer
OOMScoreAdjust=-1000

# Optional: direct stdout/stderr to journal
StandardOutput=journal
StandardError=journal

# Full access to filesystem / shm
PrivateTmp=false
ProtectSystem=off
ProtectHome=false

[Install]
WantedBy=multi-user.target
