[Unit]
Description=Discord Scheduler Bot
After=network.target
Requires=network.target
Requires=local-fs.target
After=local-fs.target

[Service]
WorkingDirectory=/home/pi/python-discord-scheduler-bot
EnvironmentFile=/etc/environment
ExecStart=/home/pi/.local/bin/uv run /home/pi/python-discord-scheduler-bot/bot.py
ExecStartPre=/bin/sleep 10
Restart=on-failure
RestartSec=10
User=pi
Group=pi

[Install]
WantedBy=multi-user.target